<div class="friend_container">
    <a title="Haax - Infosec articles & CTF Writeups" href="https://haax.fr/fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/haax_logo.png" /></a>
    <a title="MadSquirrels blog" href="https://madsquirrels.gitlab.io/blog/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/madquirrels_logo.png" /></a>
    <a title="Swissky's adventures into InfoSec World !" href="https://swisskyrepo.github.io/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/swissky_logo.jpg" /></a>
    <a title="Alex Garrido - Zeecka" href="https://zeecka.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/zeecka_logo.png" /></a>
    <a title="Blog de Areizen" href="https://www.areizen.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/areizen_logo.jpg" /></a>
    <a title="Baptiste Moine - Learning is endless" href="https://www.bmoine.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/creased_logo.png" /></a>
    <a title="Bitsdeep - Cryptography for non-mathematicians" href="https://bitsdeep.com/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/enoent_logo.png" /></a>
    <a title="BinaryLabs" href="http://tomtombinary.xyz/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/tomtombinary_logo.png" /></a>
    <a title="Think Love Share" href="https://thinkloveshare.com/en/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/laluka_logo.png" /></a>
    <a title="Infosec blog" href="https://acknak.fr/en/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/acknak_logo.png" /></a>
    <a title="Daily Security" href="https://www.dailysecurity.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/geluchat_logo.png" /></a>
    <a title="0xswitch - Everything about errors" href="https://0xswitch.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/switch_logo.jpg" /></a>
    <a title="thbz - blabbing computers" href="https://thbz.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/thbz_logo.png" /></a>
    <a title="Hacked by The Flat Network Society" href="https://xer.fr/"><img class="logo_friend" src="{{.Site.BaseURL}}img/friends/xer_logo.svg" /></a>
</div>